.App {
  text-align: center;
  
}

.App-logo { 
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: rgba(79, 109, 243, 0.66);
  height: 20px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
#face{
  border-radius:30px;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  opacity: 1;
  background-color: #80ffd6 !important;
  border-radius: 0.3rem;
}
.icon {
  color: rgb(4, 20, 112);
  transition: color 125ms ease-in;
  padding: 0.3em;
  margin-bottom: 0.01em;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
